/*
 * INPUT TEXT COMMON
 */

input[type='text'] { display:inline-block; position:relative;
  min-height:$s-input-text-min-height; height:$s-input-text-min-height;
  margin:$s-input-text-margin-v 0; padding: 0 $s-input-text-padding-h;
  line-height:1; vertical-align:middle;
}



/*
 * COMPONENT InputText
 */

.c-input__text {
  .c-input__header { display:block; margin-bottom:0; font-weight:600; }
  // ToDo: should be removed after removing metroui theme
  .c-input__header,
  .c-input__header:hover { cursor:default; }
  .c-input__field {}
}