@mixin fade-in {
  animation-name:fadein;
  animation-duration:.08s;
  animation-timing-function:ease-in;
  animation-iteration-count:1;
}

//@mixin fade-out($duration:1s) { animation:fadein ease-in 1;
//  opacity:0;
//}